{% extends './body.html' %}

{% block title %} Index {% endblock %}

{% block container %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
    <h1>Listado de "Comic World Shop"</h1>
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <br/><br/>
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong style="font-size: 14px;">{{ message }}</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}

    {% endif%}

    {% endwith %}
    
</div>
{% endblock %}
