{% extends './body.html' %}

{% block title %} Index {% endblock %}

{% block container %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
    <h1>Listado de "Comic World Shop"</h1>
    
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong style="font-size: 14px;">{{ message }}</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}

    {% endif%}

    {% endwith %}
    
</div>
<hr>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <h2>{{ data.titulo }}</h2>
  </div>
  {% if current_user.tipousuario.id ==1 %}

  {% if data.libros_vendidos|length > 0 %}

  {% else %}
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <h3>A&uacute;n no existen libros vendidos...</h3>
  </div>
  {% endif %}

  {% else %}

  {% if data.compras|length > 0 %}

  {% else %}
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <h3>A&uacute;n no haz comprado libros...</h3>
  </div>
  {% endif %}

  {% endif %}

</div>

{% endblock %}
