{% extends './body.html' %}

{% block title %}Listado de Libros{% endblock %}

{% block container %}
<div class="row"> 
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
    <h1>{{ data.titulo }}</h1>
</div>

<hr>

<div class="row">
    {% for l in data.libros %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card mb-4 shadow-sm">
            {% set url = 'img/portadas/' + l.isbn + '.jpg' %}
            <img src="{{ url_for('static', filename=url) }}" alt="{{ l.titulo }}" height="320" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ l.titulo }}</h5>
                <p class="card-text">{{ l.autor.nombre_completo() }}</p>
                <button class="btn btn-block btn-primary">| Comprar |</button>
            </div>
        </div>
    </div>

    {% endfor %}

</div>
{% endblock %}