<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">Comics World Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Inicio </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Autores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('listar_libros') }}">Libros</a>
            </li>
        </ul>
        <span class="navbar-text" margin="auto">
            <a href="/logout">Cerrar sesi&oacute;n &rAarr; |-</a>
        </span>
        <span class="navbar-text">
            <strong>{{ current_user.usuario }}</strong> ({{ current_user.tipousuario.nombre }})
        </span>
    </div>
</nav>